body {
    background-color: #f5f5dd;
}

div {
    height: 150px;
    width: 150px;
    margin: 10px;
    margin-left: 850px;
}

div.pierwszy {
    background: rgba(0, 0, 0, 1);
    margin-top: 50px;
}

div.drugi {
    background: rgba(0, 0, 0, 0.75);
}

div.trzeci {
    background: rgba(0, 0, 0, 0.5);
}

div.czwarty {
    background: rgba(0, 0, 0, 0.25);
}